.form-group {
    margin-bottom: 1rem;
}


label {
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    color: #2c3e50;
}

input {
    display: flex;
    width: 100%;
    padding: 0.8rem;
    margin: auto;
    border-radius: 10px;
    border: 1px solid #d4ccd6ee;
    font-size: 1rem;
}

input:focus {
    outline: none;
    border-color: #c96342;
    box-shadow: 0 0 0 2px #c96342;
}

span {
    width: 100%;
    color: rgb(255, 0, 0);
    font-family: "Inter", sans-serif;   
    font-size: 0.7rem;
}